# Understanding datetime

In [120]:
from datetime import datetime


dt_string = '2018-03-13 23:34:29'  # datetime string
print('1. ', dt_string, ' type of ', type(dt_string))

dt_obj = datetime.strptime(dt_string, '%Y-%m-%d %H:%M:%S')  # converting to datetime object from a datetime string
print('2. ', dt_obj, ' type of ', type(dt_obj))

dt_string_frm_dt_obj = dt_obj.strftime('%Y-%m-%d %H:%M:%S')  # converting to datetime string from a datetime object
print('3. ', dt_string_frm_dt_obj, ' type of ', type(dt_string_frm_dt_obj))
     
dt_timestamp = datetime.timestamp(dt_obj)  # converting to timestamp from a datetime object
print('4. ', dt_timestamp, ' type of ', type(dt_timestamp))

dt_obj_frm_dt_timestamp = datetime.fromtimestamp(dt_timestamp)  # converting to datetime object from a timestamp
print('5. ', dt_obj_frm_dt_timestamp, ' type of ', type(dt_obj_frm_dt_timestamp))

1.  2018-03-13 23:34:29  type of  <class 'str'>
2.  2018-03-13 23:34:29  type of  <class 'datetime.datetime'>
5.  2018-03-13 23:34:29  type of  <class 'str'>
3.  1520964269.0  type of  <class 'float'>
4.  2018-03-13 23:34:29  type of  <class 'datetime.datetime'>

In [121]:
# Extracting day, month, year, hour, minute, second from a datetime object

day = dt_obj.day
month = dt_obj.month
year = dt_obj.year
hour = dt_obj.hour
minute = dt_obj.minute
second = dt_obj.second

print('Datetime object is ', dt_obj, '\n')
print('1. day : ', day)
print('2. month : ', month)
print('3. year : ', year)
print('4. hour : ', hour)
print('5. minute : ', minute)
print('6. second : ', second)

Datetime object is  2018-03-13 23:34:29

1. day :  13
2. month :  3
3. year :  2018
4. hour :  23
5. minute :  34
6. second :  29

# Creating timeseries dataset using pandas, numpy

In [122]:
import pandas as pd
import numpy as np

In [123]:
dt_index = pd.date_range('2018-01-01', '2018-05-31', freq='15min')
dt_index

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 00:15:00',
               '2018-01-01 00:30:00', '2018-01-01 00:45:00',
               '2018-01-01 01:00:00', '2018-01-01 01:15:00',
               '2018-01-01 01:30:00', '2018-01-01 01:45:00',
               '2018-01-01 02:00:00', '2018-01-01 02:15:00',
               ...
               '2018-05-30 21:45:00', '2018-05-30 22:00:00',
               '2018-05-30 22:15:00', '2018-05-30 22:30:00',
               '2018-05-30 22:45:00', '2018-05-30 23:00:00',
               '2018-05-30 23:15:00', '2018-05-30 23:30:00',
               '2018-05-30 23:45:00', '2018-05-31 00:00:00'],
              dtype='datetime64[ns]', length=14401, freq='15T')

In [124]:
# Let's see timestamp of pandas taking sample "dt_index[7]"
print(type(dt_index[7]))
print('\nTimestamp object is ', dt_index[7], '\n')
print('1. day : ', dt_index[7].day)
print('2. month : ', dt_index[7].month)
print('3. year : ', dt_index[7].year)
print('4. hour : ', dt_index[7].hour)
print('5. minute : ', dt_index[7].minute)
print('6. second : ', dt_index[7].second)

<class 'pandas._libs.tslib.Timestamp'>

Timestamp object is  2018-01-01 01:45:00

1. day :  1
2. month :  1
3. year :  2018
4. hour :  1
5. minute :  45
6. second :  0

In [125]:
dtdf = pd.DataFrame(index = dt_index)

In [126]:
dtdf['hits'] = np.random.randint(low=0, high=100, size=len(dtdf.index))
dtdf['Purchased'] = np.random.randint(low=0, high=10, size=len(dtdf.index))
dtdf

                     hits  Purchased
2018-01-01 00:00:00    83          2
2018-01-01 00:15:00    85          6
2018-01-01 00:30:00    52          3
2018-01-01 00:45:00    54          5
2018-01-01 01:00:00     3          3
2018-01-01 01:15:00     0          1
2018-01-01 01:30:00    19          2
2018-01-01 01:45:00    31          3
2018-01-01 02:00:00    50          5
2018-01-01 02:15:00     7          0
2018-01-01 02:30:00    74          7
2018-01-01 02:45:00     9          4
2018-01-01 03:00:00    38          4
2018-01-01 03:15:00    64          0
2018-01-01 03:30:00    59          5
2018-01-01 03:45:00    27          0
2018-01-01 04:00:00    50          5
2018-01-01 04:15:00    47          5
2018-01-01 04:30:00    98          6
2018-01-01 04:45:00    24          0
2018-01-01 05:00:00    82          0
2018-01-01 05:15:00    98          1
2018-01-01 05:30:00    94          9
2018-01-01 05:45:00    94          2
2018-01-01 06:00:00    18          5
2018-01-01 06:15:00    34          1
2018-01-01 06:30:00    63          2
2018-01-01 06:45:00    68          5
2018-01-01 07:00:00    34          8
2018-01-01 07:15:00    39          5
...                   ...        ...
2018-05-30 16:45:00     6          7
2018-05-30 17:00:00    59          8
2018-05-30 17:15:00     1          9
2018-05-30 17:30:00    57          9
2018-05-30 17:45:00    29          7
2018-05-30 18:00:00    42          6
2018-05-30 18:15:00     8          8
2018-05-30 18:30:00    80          9
2018-05-30 18:45:00    11          6
2018-05-30 19:00:00    41          1
2018-05-30 19:15:00    67          6
2018-05-30 19:30:00    97          9
2018-05-30 19:45:00    29          4
2018-05-30 20:00:00    47          2
2018-05-30 20:15:00    95          6
2018-05-30 20:30:00    83          9
2018-05-30 20:45:00    89          6
2018-05-30 21:00:00    66          2
2018-05-30 21:15:00    22          1
2018-05-30 21:30:00    37          2
2018-05-30 21:45:00    94          5
2018-05-30 22:00:00    49          5
2018-05-30 22:15:00    81          9
2018-05-30 22:30:00    14          1
2018-05-30 22:45:00    26          3
2018-05-30 23:00:00    64          6
2018-05-30 23:15:00    20          5
2018-05-30 23:30:00     5          7
2018-05-30 23:45:00    44          5
2018-05-31 00:00:00    23          4

[14401 rows x 2 columns]

# Plotting time series data using Plotly

In [127]:
import plotly.plotly as py
import plotly.graph_objs as go


trace_high = go.Scatter(
    x=dtdf.index,
    y=dtdf['hits'],
    name = "Hits",
    line = dict(color = '#17BECF'),
    opacity = 0.8)

trace_low = go.Scatter(
    x=dtdf.index,
    y=dtdf['Purchased'],
    name = "Purchased",
    line = dict(color = '#7F7F7F'),
    opacity = 0.8)

data = [trace_high,trace_low]

layout = dict(
    title='Performance of sales website',
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='1m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(step='all')
            ])
        ),
        rangeslider=dict(),
        type='date'
    )
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename = "Performance of sales website")