In [27]:
from datetime import datetime

dt_string = '2018-03-13 23:34:29'  # datetime string
print('1. ', dt_string, ' type of ', type(dt_string))

dt_obj = datetime.strptime(dt_string, '%Y-%m-%d %H:%M:%S')  # converting to datetime object from a datetime string
print('2. ', dt_obj, ' type of ', type(dt_obj))

dt_string_frm_dt_obj = dt_obj.strftime('%Y-%m-%d %H:%M:%S')  # converting to datetime string from a datetime object
print('5. ', dt_string_frm_dt_obj, ' type of ', type(dt_string_frm_dt_obj))
     
dt_timestamp = datetime.timestamp(dt_obj)  # converting to timestamp from a datetime object
print('3. ', dt_timestamp, ' type of ', type(dt_timestamp))

dt_obj_frm_dt_timestamp = datetime.fromtimestamp(dt_timestamp)  # converting to datetime object from a timestamp
print('4. ', dt_frm_dt_timestamp, ' type of ', type(dt_frm_dt_timestamp))

1.  2018-03-13 23:34:29  type of  <class 'str'>
2.  2018-03-13 23:34:29  type of  <class 'datetime.datetime'>
5.  2018-03-13 23:34:29  type of  <class 'str'>
3.  1520964269.0  type of  <class 'float'>
4.  2018-03-13 23:34:29  type of  <class 'datetime.datetime'>

In [43]:
# Extracting day, month, year, hour, minute, second from a datetime object

day = dt_obj.day
month = dt_obj.month
year = dt_obj.year
hour = dt_obj.hour
minute = dt_obj.minute
second = dt_obj.second

print('Datetime object is ', dt_obj, '\n')
print('1. day : ', day)
print('2. month : ', month)
print('3. year : ', year)
print('4. hour : ', hour)
print('5. minute : ', minute)
print('6. second : ', second)

Datetime object is  2018-03-13 23:34:29

1. day :  13
2. month :  3
3. year :  2018
4. hour :  23
5. minute :  34
6. second :  29